// Todo

@font-face {
  font-family: "HYWenHei 85W";
  src: local("HYWenHei 85W"), url(https://assets.yuanshen.site/fonts/woff2/font.woff2) format("woff2");
  font-display: swap;
  size-adjust: 80%;
}
